a:link{color: rgb(5, 137, 220);
    font-style: italic;}
  a:hover{color:rgb(255, 0, 0);
     text-decoration: underline;
     font-style: italic;}
     .d-flex {
         display: flex!important;
         flex-direction: row-reverse;
         align-content: stretch;}
     
     
  a:visited{color: rgba(102, 106, 109, 0.635);
     text-decoration: line-through;
     font-style: italic;}
     header{background-color: rgb(150 125 86 / 97%);
        color: rgb(73 14 14);
        text-align: center;
        font-family: 'Ms Madi', serif, cursive;
        bottom: 0px;
        position: relative;}
    h1{ position: relative;
        font-size: calc(60px + 1vw);
        top: -4px;}
    
            p1{font-family:"Nunito Sans";
              font-size: calc(1vw + 1em);}
          .onda{width: calc(14px + 3vw);}
          