
a:link{color: rgb(5, 137, 220);
       font-style: italic;}
a:hover{color:rgb(255, 0, 0);
        text-decoration: underline;
        font-style: italic;}
        .d-flex {
            display: flex!important;
            flex-direction: row-reverse;
            align-content: stretch;}
        
        
a:visited{color: rgba(102, 106, 109, 0.635);
        text-decoration: line-through;
        font-style: italic;}
header{margin-right: -6vw;
    background-color: rgb(150 125 86 / 97%);
    color: rgb(73 14 14);
    text-align: center;
    font-family: 'Ms Madi', serif, cursive;
    bottom: 0vw;
    position: relative;
    margin-top: -5.4vw;
    margin-left: -6vw;}
    body {margin: 5.4vw;}
h1{ position: relative;
    font-size: calc(60px + 1vw);
    top: -4px;}

    .card-title {text-align: center;
        margin-bottom: var(--bs-card-title-spacer-y);
        color: rgb(159, 17, 17);
        font-family: "Nunito Sans";
        font-size: calc(3vw + 1em);}
    p{     font-size: calc(1vw + 1em);
        font-family: "Nunito Sans";
    text-align: center;}
      

   .card {
    --bs-card-spacer-y: 2rem;
    --bs-card-spacer-x: 3rem;
    --bs-card-title-spacer-y: 0.5rem;
    --bs-border-width: 18px;
    --bs-border-radius: 2.375rem;
    --bs-border-color-translucent: rgb(85 5 5 / 80%);
    background-color: #fbd0b89e;}
.img-fluid {
    border-radius: 56px;}
    footer.card{--bs-card-spacer-y: 2rem;
        --bs-card-spacer-x: 3rem;
        --bs-card-title-spacer-y: 0.5rem;
        --bs-border-width: 18px;
        --bs-border-radius: 2.375rem;
        --bs-border-color-translucent: rgb(85)}   
    footer{font-family: "Nunito Sans";
           font-size:calc(1vw + 1 px);
            text-align: center;}
            .btn-primary {--bs-btn-bg: #9f6a4a80;
                --bs-btn-border-color: #350303;}
                .btn-primary1{--bs-btn-bg: #9f6a4a80;
                    --bs-btn-border-color: #350303;}
            .btn:hover {background-color: #d93e3ed4;
                border-color: var(--bs-btn-hover-border-color);}
                .btn-group-vertical {
                    padding: 1vw;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                }
            
       

            



        